/************************** Intro Div **************************/

#container {
    height: 58%;
    overflow: auto;
}

.floated-div {
    width: 50%;
    height: 100%;
    float: left;
}

/************************** Features Div **************************/
#features-list-div p {
    text-align: center;
    font-weight: bold;
}

#features-list-div ul {
    list-style-type: none;
    padding: 0 5px;
}

#features-list-div li {
    margin: 10px 0;
    padding-bottom: 2px;
    text-align: center;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/************************** Login Div **************************/
#login-signup-div {
    text-align: center;
}

#login-signup-div p {
    font-weight: bold;
    margin-bottom: 0;
}

/************************** Media Queries **************************/

@media screen and (max-width: 399px) {
    #features-div h1 {
        display: none;
    }
    #intro-bg {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}